{% extends 'app/base.html' %}

{% block content %}
<h1>Job Applications</h1>
<a href="{% url 'jobapplication_create' %}" class="btn">Create New Job Application</a>
<table>
    <thead>
        <tr>
            <th>Caregiver User ID</th>
            <th>Job ID</th>
            <th>Date Applied</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for application in applications %}
        <tr>
            <td>{{ application.caregiver_user_id }}</td>
            <td>{{ application.job_id }}</td>
            <td>{{ application.date_applied|date:"Y-m-d H:i" }}</td>
            <td>
                <a href="{% url 'jobapplication_update' application.caregiver_user_id application.job_id %}" class="btn btn-primary">Update</a>
                <a href="{% url 'jobapplication_delete' application.caregiver_user_id application.job_id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No job applications found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

